In [1]:
import pandas as pd
import numpy as np

In [2]:
eco_rounds = pd.read_csv("../data/vct_2023/matches/eco_rounds.csv")

eco_rounds

,Tournament,Stage,Match Type,Match Name,Map,Round Number,Team,Loadout Value,Remaining Credits,Type,Outcome
0,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,1,Team Liquid,3.6k,0.4k,Eco: 0-5k,Win
1,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,1,Natus Vincere,3.5k,0.3k,Eco: 0-5k,Loss
2,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,2,Team Liquid,15.6k,4.1k,Semi-buy: 10-20k,Win
3,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,2,Natus Vincere,4.2k,6.4k,Eco: 0-5k,Loss
4,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,3,Team Liquid,13.3k,14.8k,Semi-buy: 10-20k,Win
...,...,...,...,...,...,...,...,...,...,...,...
33027,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,24,FNATIC,23.2k,14.5k,Full buy: 20k+,Loss
33028,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,25,LOUD,23.9k,1.4k,Full buy: 20k+,Loss
33029,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,25,FNATIC,22.6k,1.9k,Full buy: 20k+,Win
33030,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,26,LOUD,23.6k,1.5k,Full buy: 20k+,Loss
33031,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,26,FNATIC,23.2k,1.8k,Full buy: 20k+,Win

In [3]:
eco_rounds["Outcome"] = eco_rounds["Outcome"].apply(lambda x: 1 if x == "Win" else 0)
eco_rounds["Loadout Value"] = eco_rounds["Loadout Value"].apply(lambda x: int(x.replace(".","").replace("k","00")))
eco_rounds["Remaining Credits"] = eco_rounds["Remaining Credits"].apply(lambda x: int(x.replace(".","").replace("k","00")))

eco_rounds

,Tournament,Stage,Match Type,Match Name,Map,Round Number,Team,Loadout Value,Remaining Credits,Type,Outcome
0,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,1,Team Liquid,3600,400,Eco: 0-5k,1
1,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,1,Natus Vincere,3500,300,Eco: 0-5k,0
2,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,2,Team Liquid,15600,4100,Semi-buy: 10-20k,1
3,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,2,Natus Vincere,4200,6400,Eco: 0-5k,0
4,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,3,Team Liquid,13300,14800,Semi-buy: 10-20k,1
...,...,...,...,...,...,...,...,...,...,...,...
33027,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,24,FNATIC,23200,14500,Full buy: 20k+,0
33028,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,25,LOUD,23900,1400,Full buy: 20k+,0
33029,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,25,FNATIC,22600,1900,Full buy: 20k+,1
33030,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,26,LOUD,23600,1500,Full buy: 20k+,0
33031,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,26,FNATIC,23200,1800,Full buy: 20k+,1

In [4]:
maps_scores = pd.read_csv("../data/vct_2023/matches/maps_scores.csv")
maps_scores.head()

,Tournament,Stage,Match Type,Match Name,Map,Team A,Team A Score,Team A Attacker Score,Team A Defender Score,Team A Overtime Score,Team B,Team B Score,Team B Attacker Score,Team B Defender Score,Team B Overtime Score,Duration
0,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,Team Liquid,11,6,5,NaN,Natus Vincere,13,7,6,NaN,1:18:55
1,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Bind,Team Liquid,15,7,5,3.0,Natus Vincere,17,7,5,5.0,1:22:57
2,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Lotus,DRX,13,7,5,1.0,LOUD,15,7,5,3.0,1:17:19
3,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Split,DRX,13,8,5,NaN,LOUD,6,2,4,NaN,47:47
4,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Ascent,DRX,13,8,5,NaN,LOUD,8,4,4,NaN,NaN

In [5]:
team_ab_2023 = maps_scores[["Tournament", "Stage", "Match Type", "Match Name", "Map", "Team A", "Team B", "Team A Score", "Team B Score"]]

team_ab_2023

,Tournament,Stage,Match Type,Match Name,Map,Team A,Team B,Team A Score,Team B Score
0,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,Team Liquid,Natus Vincere,11,13
1,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Bind,Team Liquid,Natus Vincere,15,17
2,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Lotus,DRX,LOUD,13,15
3,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Split,DRX,LOUD,13,6
4,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Ascent,DRX,LOUD,13,8
...,...,...,...,...,...,...,...,...,...
825,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Ascent,LOUD,FNATIC,8,13
826,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Fracture,LOUD,FNATIC,7,13
827,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Split,LOUD,FNATIC,13,9
828,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Lotus,LOUD,FNATIC,13,8
829,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,LOUD,FNATIC,12,14

In [6]:
eco_rounds.keys()

Index(['Tournament', 'Stage', 'Match Type', 'Match Name', 'Map',
       'Round Number', 'Team', 'Loadout Value', 'Remaining Credits', 'Type',
       'Outcome'],
      dtype='object')

In [7]:
# change eco round data shape so that it can be compatible with agent pick dataframe.
# this cell is a sample to show how I will add eco rounds into team_ab_2023

display(team_ab_2023.rename(columns={"Team A":"Team"}))

round1_eco_rounds = eco_rounds[eco_rounds["Round Number"] == 1]
keys = ['Tournament', 'Stage', 'Match Type', 'Match Name', 'Map','Team']

display(round1_eco_rounds)

pd.merge(
    team_ab_2023.rename(columns={"Team A":"Team"})\
    ,round1_eco_rounds.drop(columns="Round Number")\
    ,on=keys
)\
.rename(columns={"Loadout Value":"R1_loadout_A", "Remaining Credits":"R1_remaining_credit_A", "Type":"R1_eco_type_A", "Outcome":"R1_outcome_A"})\
.rename(columns={"Team":"Team A", "Team B":"Team"})\
.set_index(['Tournament', 'Stage', 'Match Type', 'Match Name', 'Map','Team'])\
.join(round1_eco_rounds.drop(columns="Round Number")\
      .set_index(['Tournament', 'Stage', 'Match Type', 'Match Name', 'Map','Team'])\
)\
.reset_index()\
.rename(columns={"Loadout Value":"R1_loadout_B", "Remaining Credits":"R1_remaining_credit_B", "Type":"R1_eco_type_B", "Outcome":"R1_outcome_B"})\
.rename(columns={"Team":"Team B"})\

,Tournament,Stage,Match Type,Match Name,Map,Team,Team B,Team A Score,Team B Score
0,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,Team Liquid,Natus Vincere,11,13
1,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Bind,Team Liquid,Natus Vincere,15,17
2,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Lotus,DRX,LOUD,13,15
3,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Split,DRX,LOUD,13,6
4,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Ascent,DRX,LOUD,13,8
...,...,...,...,...,...,...,...,...,...
825,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Ascent,LOUD,FNATIC,8,13
826,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Fracture,LOUD,FNATIC,7,13
827,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Split,LOUD,FNATIC,13,9
828,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Lotus,LOUD,FNATIC,13,8
829,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,LOUD,FNATIC,12,14

,Tournament,Stage,Match Type,Match Name,Map,Round Number,Team,Loadout Value,Remaining Credits,Type,Outcome
0,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,1,Team Liquid,3600,400,Eco: 0-5k,1
1,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,1,Natus Vincere,3500,300,Eco: 0-5k,0
48,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Bind,1,Team Liquid,4000,100,Eco: 0-5k,1
49,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Bind,1,Natus Vincere,4000,400,Eco: 0-5k,0
112,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Lotus,1,DRX,4100,100,Eco: 0-5k,0
...,...,...,...,...,...,...,...,...,...,...,...
32895,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Split,1,FNATIC,3800,100,Eco: 0-5k,1
32938,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Lotus,1,LOUD,4200,100,Eco: 0-5k,0
32939,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Lotus,1,FNATIC,3600,300,Eco: 0-5k,1
32980,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,1,LOUD,4000,300,Eco: 0-5k,1
32981,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,1,FNATIC,3500,200,Eco: 0-5k,0

,Tournament,Stage,Match Type,Match Name,Map,Team B,Team A,Team A Score,Team B Score,R1_loadout_A,R1_remaining_credit_A,R1_eco_type_A,R1_outcome_A,R1_loadout_B,R1_remaining_credit_B,R1_eco_type_B,R1_outcome_B
0,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,Natus Vincere,Team Liquid,11,13,3600,400,Eco: 0-5k,1,3500,300,Eco: 0-5k,0
1,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Bind,Natus Vincere,Team Liquid,15,17,4000,100,Eco: 0-5k,1,4000,400,Eco: 0-5k,0
2,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Lotus,LOUD,DRX,13,15,4100,100,Eco: 0-5k,0,3700,300,Eco: 0-5k,1
3,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Split,LOUD,DRX,13,6,3500,400,Eco: 0-5k,1,4100,400,Eco: 0-5k,0
4,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Ascent,LOUD,DRX,13,8,3600,200,Eco: 0-5k,1,3800,400,Eco: 0-5k,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Ascent,FNATIC,LOUD,8,13,4200,300,Eco: 0-5k,0,3200,400,Eco: 0-5k,1
767,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Fracture,FNATIC,LOUD,7,13,3600,300,Eco: 0-5k,0,3900,200,Eco: 0-5k,1
768,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Split,FNATIC,LOUD,13,9,4100,200,Eco: 0-5k,0,3800,100,Eco: 0-5k,1
769,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Lotus,FNATIC,LOUD,13,8,4200,100,Eco: 0-5k,0,3600,300,Eco: 0-5k,1
770,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,FNATIC,LOUD,12,14,4000,300,Eco: 0-5k,1,3500,200,Eco: 0-5k,0

Column names are too long, so I am gonna make it shorter:\
Ri_A_lo: ith round loadout\
Ri_A_rc: ith round remaining credit\
Ri_A_et: ith round eco type\
Ri_A_win: ith round Team A win\
Similarly for B.

In [8]:
keys = ['Tournament', 'Stage', 'Match Type', 'Match Name', 'Map','Team']

for i in range(24):
    team_ab_2023 =\
    pd.merge(
        team_ab_2023.rename(columns={"Team A":"Team"})\
        ,eco_rounds[eco_rounds["Round Number"] == i+1].drop(columns="Round Number")\
        ,on=keys
    )\
    .rename(columns={"Loadout Value":f"R{i+1}_A_lo", "Remaining Credits":f"R{i+1}_A_rc", "Type":f"R{i+1}_A_et", "Outcome":f"R{i+1}_A_win"})\
    .rename(columns={"Team":"Team A", "Team B":"Team"})\
    .set_index(['Tournament', 'Stage', 'Match Type', 'Match Name', 'Map','Team'])\
    .join(eco_rounds[eco_rounds["Round Number"] == i+1].drop(columns="Round Number")\
        .set_index(['Tournament', 'Stage', 'Match Type', 'Match Name', 'Map','Team'])\
    )\
    .reset_index()\
    .rename(columns={"Loadout Value":f"R{i+1}_B_lo", "Remaining Credits":f"R{i+1}_B_rc", "Type":f"R{i+1}_B_et", "Outcome":f"R{i+1}_B_win"})\
    .rename(columns={"Team":"Team B"})\

team_ab_2023.keys()

Index(['Tournament', 'Stage', 'Match Type', 'Match Name', 'Map', 'Team B',
       'Team A', 'Team A Score', 'Team B Score', 'R1_A_lo',
       ...
       'R23_B_et', 'R23_B_win', 'R24_A_lo', 'R24_A_rc', 'R24_A_et',
       'R24_A_win', 'R24_B_lo', 'R24_B_rc', 'R24_B_et', 'R24_B_win'],
      dtype='object', length=201)

In [9]:
assert len(team_ab_2023.keys()) == ((5 + 2 + 2) + (24*4)*2)  # check the number of columns is correct.

In [10]:
# Add Team_A_win, Team_B_win columns
team_ab_2023["Team_A_win"] = (team_ab_2023["Team A Score"] - team_ab_2023["Team B Score"]) > 0
team_ab_2023["Team_B_win"] = (team_ab_2023["Team B Score"] - team_ab_2023["Team A Score"]) > 0

team_ab_2023

,Tournament,Stage,Match Type,Match Name,Map,Team B,Team A,Team A Score,Team B Score,R1_A_lo,...,R24_A_lo,R24_A_rc,R24_A_et,R24_A_win,R24_B_lo,R24_B_rc,R24_B_et,R24_B_win,Team_A_win,Team_B_win
0,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Fracture,Natus Vincere,Team Liquid,11,13,3600,...,27600,11200,Full buy: 20k+,0,21600,1700,Full buy: 20k+,1,False,True
1,Valorant Champions 2023,Group Stage,Opening (D),Team Liquid vs Natus Vincere,Bind,Natus Vincere,Team Liquid,15,17,4000,...,25900,3800,Full buy: 20k+,1,24800,8600,Full buy: 20k+,0,False,True
2,Valorant Champions 2023,Group Stage,Opening (D),DRX vs LOUD,Lotus,LOUD,DRX,13,15,4100,...,19500,1000,Semi-buy: 10-20k,0,24100,5500,Full buy: 20k+,1,False,True
3,Valorant Champions 2023,Group Stage,Winner's (D),Natus Vincere vs DRX,Bind,DRX,Natus Vincere,13,15,4100,...,19800,1300,Semi-buy: 10-20k,0,23200,5200,Full buy: 20k+,1,False,True
4,Valorant Champions 2023,Group Stage,Winner's (D),Natus Vincere vs DRX,Lotus,DRX,Natus Vincere,12,14,3900,...,23600,7100,Full buy: 20k+,1,16400,500,Semi-buy: 10-20k,0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Champions Tour 2023: Lock-In Sao Paulo,Bracket Stage,Omega - Quarterfinals,FUT Esports vs 100 Thieves,Haven,100 Thieves,FUT Esports,11,13,3700,...,19100,1700,Semi-buy: 10-20k,0,24500,2400,Full buy: 20k+,1,False,True
200,Champions Tour 2023: Lock-In Sao Paulo,Bracket Stage,Omega - Quarterfinals,FNATIC vs FURIA,Haven,FURIA,FNATIC,18,16,3500,...,19400,2800,Semi-buy: 10-20k,0,23100,14500,Full buy: 20k+,1,True,False
201,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Semifinals,Natus Vincere vs FNATIC,Haven,FNATIC,Natus Vincere,11,13,4100,...,24400,13100,Full buy: 20k+,0,20800,2200,Full buy: 20k+,1,False,True
202,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Semifinals,Natus Vincere vs FNATIC,Fracture,FNATIC,Natus Vincere,11,13,3500,...,25300,13100,Full buy: 20k+,0,22000,1400,Full buy: 20k+,1,False,True
203,Champions Tour 2023: Lock-In Sao Paulo,Playoffs,Grand Final,LOUD vs FNATIC,Icebox,FNATIC,LOUD,12,14,4000,...,22000,1500,Full buy: 20k+,1,23200,14500,Full buy: 20k+,0,False,True

For example, with this dataframe team_ab_2023, if you want to have information about 1st,2nd,3rd,13th,14th,15th, you can do the following.

In [11]:
first_3_each_half_columns = [
    "Team A", "Team B"
    ,"R1_A_lo", "R1_A_win"
    ,"R1_B_lo", "R1_B_win"
    ,"R2_A_lo", "R2_A_win"
    ,"R2_B_lo", "R2_B_win"
    ,"R3_A_lo", "R3_A_win"
    ,"R3_B_lo", "R3_B_win"
    ,"R13_A_lo", "R13_A_win"
    ,"R13_B_lo", "R13_B_win"
    ,"R14_A_lo", "R14_A_win"
    ,"R14_B_lo", "R14_B_win"
    ,"R15_A_lo", "R15_A_win"
    ,"R15_B_lo", "R15_B_win"
    ] 

first_3_each_half = team_ab_2023[first_3_each_half_columns]

first_3_each_half

,Team A,Team B,R1_A_lo,R1_A_win,R1_B_lo,R1_B_win,R2_A_lo,R2_A_win,R2_B_lo,R2_B_win,...,R13_B_lo,R13_B_win,R14_A_lo,R14_A_win,R14_B_lo,R14_B_win,R15_A_lo,R15_A_win,R15_B_lo,R15_B_win
0,Team Liquid,Natus Vincere,3600,1,3500,0,15600,1,4200,0,...,3900,0,12300,1,4900,0,18400,0,19400,1
1,Team Liquid,Natus Vincere,4000,1,4000,0,13700,1,4400,0,...,4000,1,3700,1,14700,0,20300,0,19700,1
2,DRX,LOUD,4100,0,3700,1,2200,0,14300,1,...,4000,1,1800,0,15500,1,19100,1,19400,0
3,Natus Vincere,DRX,4100,0,4300,1,4700,0,15800,1,...,4300,0,14300,1,3700,0,16100,0,19500,1
4,Natus Vincere,DRX,3900,0,4000,1,4000,0,15000,1,...,3300,1,2900,0,15400,1,20400,1,15000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,FUT Esports,100 Thieves,3700,0,4100,1,2000,0,18500,1,...,3300,1,1200,0,15300,1,22100,1,15400,0
200,FNATIC,FURIA,3500,0,3800,1,3100,0,16600,1,...,3900,1,1700,0,15400,1,18800,1,18800,0
201,Natus Vincere,FNATIC,4100,1,3600,0,14500,1,3300,0,...,3700,1,4600,0,17700,1,18400,1,21400,0
202,Natus Vincere,FNATIC,3500,1,3800,0,13200,1,3400,0,...,3000,1,4600,0,16200,1,20100,0,20200,1
203,LOUD,FNATIC,4000,1,3500,0,15800,1,2300,0,...,3900,0,18000,1,10700,0,16700,0,13000,1

In [12]:
# make a chart with groupby.agg
first_3_each_half.groupby("R1_A_win").agg(
    {
        "R2_A_lo":"mean"
        ,"R2_B_lo":"mean"
        ,"R2_A_win":"mean"
        ,"R2_B_lo":"mean"
        ,"R2_A_win":"mean"
        ,"R3_A_lo":"mean"
        ,"R3_B_lo":"mean"
        ,"R3_A_win":"mean"
        ,"R3_B_lo":"mean"
        ,"R3_A_win":"mean"
    }
)
# the first row shows that winning rate of team A and average loadouts of each teams, given that team A won the first round
# likewise, the second row shows that winning rate of team A and average loadouts of each teams, given that team A lost the first round

,R2_A_lo,R2_B_lo,R2_A_win,R3_A_lo,R3_B_lo,R3_A_win
R1_A_win,,,,,,
0,3440.776699,16526.213592,0.087379,19883.495146,16572.815534,0.631068
1,15955.445545,3226.732673,0.841584,16283.168317,20408.910891,0.326733

In [14]:
# Given Team A 1st and 13th rounds results, the probability of team A win the map
first_and_thirteenth = team_ab_2023[["R1_A_win","R13_A_win","Team_A_win"]]

first_and_thirteenth.groupby(["R1_A_win","R13_A_win"]).agg("mean")

                    Team_A_win
R1_A_win R13_A_win
0        0            0.400000
         1            0.534483
1        0            0.410714
         1            0.555556